<?xml version="1.0"?>
<!--
/**
 * Shift4 Payments For Magento 2
 * https://www.shift4.com/
 *
 * @category Shift4
 * @package  Shift4_Shift4
 * @author   Girit-Interactive (https://www.girit-tech.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <shift4>
                <title>Shift4</title>
                <mode>live</mode>
                <debug>0</debug>
                <payment_action>authorize</payment_action>
                <enable_3d_secure>0</enable_3d_secure>
                <use_smart_3d>0</use_smart_3d>
                <cctypes>VI,MC,MI,AE,DN</cctypes>
                <!-- Gateway Configuration -->
                <model>Shift4\Shift4\Model\Shift4Method</model>
                <privateInfoKeys>transaction_id,cc_type</privateInfoKeys>
                <paymentInfoKeys>transaction_id,cc_type</paymentInfoKeys>
                <can_authorize_vault>1</can_authorize_vault>
            </shift4>

            <shift4_cc_vault>
                <model>Shift4CreditCardVaultFacade</model>
                <title>Stored Cards (Shift4)</title>
            </shift4_cc_vault>
        </payment>
    </default>
</config>
