<?xml version="1.0"?>
<!--
/**
 * Credorax frontend di config.
 *
 * @category Credorax
 * @package  Credorax_Credorax
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order\Payment\State\AuthorizeCommand">
        <plugin name="credorax_plugin_sales_model_order_payment_state_authorizecommand" type="Credorax\Credorax\Plugin\Sales\Model\Order\Payment\State\AuthorizeCommand"/>
    </type>
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="credorax_plugin_csrf_validator_skip" type="Credorax\Credorax\Plugin\Framework\App\Request\CsrfValidator" />
    </type>

    <!-- Vault configuration. -->
    <virtualType name="CredoraxCreditCardVaultFacade" type="Magento\Vault\Model\Method\Vault">
        <arguments>
            <argument name="config" xsi:type="object">CredoraxVaultPaymentConfig</argument>
            <argument name="valueHandlerPool" xsi:type="object">CredoraxVaultPaymentValueHandlerPool</argument>
            <argument name="vaultProvider" xsi:type="object">Credorax\Credorax\Model\CredoraxMethod</argument>
            <argument name="code" xsi:type="const">Credorax\Credorax\Model\CredoraxMethod::CC_VAULT_CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="CredoraxVaultPaymentValueHandlerPool" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Credorax\Credorax\Model\CredoraxMethod::CC_VAULT_CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="CredoraxVaultPaymentValueHandlerPool" type="VaultPaymentValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">CredoraxVaultPaymentValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CredoraxVaultPaymentValueHandler" type="VaultPaymentDefaultValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">CredoraxVaultPaymentConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="CredoraxVaultPaymentConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Credorax\Credorax\Model\CredoraxMethod::CC_VAULT_CODE</argument>
        </arguments>
    </virtualType>
    <type name="Credorax\Credorax\Model\CardTokenization">
        <arguments>
            <argument name="paymentTokenFactory" xsi:type="object">Magento\Vault\Model\CreditCardTokenFactory</argument>
        </arguments>
    </type>
    <!-- Vault configuration. -->
</config>
